@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    body {
        font-family: 'Poppins';
        font-size: 36px;
    }
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


#sizeWidth {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 500;
    font-family: 'Poppins';

}

#sizeHeight {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 500;
    font-family: 'Poppins';
}

@media (max-width: 768px) {

    #sizeWidth {
        font-size: 21px;
    }
    
    #sizeHeight {
        font-size: 21px;
    }

    .text h1 {
        font-size: 45px;
    }
    

}